body {
  background-color: #fdfdfd;
}

article h1, article h2, article h3 {
  max-width: 30em;
  font-family: sans-quotation, sans-serif;
  font-weight: normal;
}

article p, article li, article td {
  font-family: Pagella, serif;
  line-height: 1.5;
}

article code {
  font-family: mono-proportional-ten, monospace;
}

article .section-title a {
  color: #44aa99;
}

article .section-title a:hover {
  color: #88ccee;
}

article .section-title a:visited {
  color: #7a7a7a;
}

article .section-title {
  width: 100%;
  text-align: center;
}

.article-title {
  position: relative;
  text-align: center;
  font-family: sans-quotation, sans-serif;
  font-weight: normal;
}

article a:link {
  text-decoration: none;
}

article a.internal-link, #listing a {
  text-decoration: underline;
  color: #44aa99;
}

article a.internal-link:hover, #listing a:hover {
  text-decoration: underline;
  color: #88ccee;
}

article a.internal-link:visited, #listing a:visited {
  text-decoration: underline;
  color: #7a7a7a;
}

article a.external-link {
  text-decoration: underline;
  color: #882255;
  background-image: url(external.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 8px;
  padding-right: 12px;
}

article a.external-link:hover {
  text-decoration: underline;
  color: #cc6677;
}

article a.external-link:visited {
  text-decoration: underline;
  color: #666666;
}

section#introduction {
  border-bottom: 1px solid black;
}

section#formatting-notes {
  border-top: 1px solid black;
}

section.normal {
  position: relative;
  margin: 0 auto;
}

#listing {
  margin: 1% auto 1% auto;
  overflow: auto;
}

@media screen and (min-width:800px) {
  #listing {
    width: 50em;
  }
  section.normal {
    width: 30em;
  }
}

#listing td.prog-tag {
  text-align: center;
}

#listing table {
  display: inline-table;
  vertical-align: baseline;
  border-collapse: collapse;
  white-space: nowrap;
}

.indent {
  margin-left: 1em;
}

#listing td {
  vertical-align: baseline;
  padding: 0;
}

var {
  font-style: italic;
}

.operator {
  font-weight: bold;
}

.constant {
  font-family: mono-proportional-ten, monospace;
}

.function {
  font-family: Pagella, serif;
  font-style: italic;
}

/* See https://stackoverflow.com/questions/8160514/is-there-css-for-typesetting-the-latex-logo-in-html */
.tex sub {
  text-transform: uppercase;
}

.tex sub {
  position: relative;
  vertical-align: baseline;
  top: 0.3ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .tex sub {
  font-size: 1em;
}
