.listing {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

.introduction {
    max-width: 100ch;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: solid 2px;
    border-bottom: solid 2px;
}

.address,
.number {
    padding-right: 2em;
}

.operation {
    font-weight: bold;
    font-family: monospace; /* for inline instructions in explanatory text */
}

.contents li {
    list-style-type: square;
}

.location,
.number,
.assembly {
    text-align: right;
}

.location-head {
    text-align: left;
}

.remarks-line {
    white-space: pre;
}

.variable-remarks,
.assembly {
    white-space: pre;
}

h1.symbol-name {
    font-family: monospace;
}

h1,
h2 {
    text-align: center;
}